<p id="notice"><%= notice %></p>

<p>
  <h1> Compañia </h1>
  <strong> 
  	<%= @company.name %> 
  </strong>
</p>

<!-- Form -->
<%= form_with(model: [ @company, @employee ], local: true) do |f| %>
  <div class="form-group">
    <%= f.label :first_name, 'Primer nombre' %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>

	<div class="form-group">
    <%= f.label :last_name, 'Apellido' %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control', placeholder: 'email@' %>
  </div>

  <div class="form-group">
    <%= f.label :area_id %>
    <%= f.select :area_id, Area.pluck(:name, :id) %>
  </div>
  
  <%= submit_tag 'Submit', class: 'btn btn-warning' %>
<% end %>

<h1> Empleados </h1>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Primer nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Email</th>
      <th scope="col">Area</th>
    </tr>
  </thead>

  <tbody>
    <% @company.employees.each do |employee| %>
      <tr>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.email %></td> 
        <td><%= link_to employee.area.name, area_path(employee.area_id), method: :get %></td>  
        <td>
          <%= link_to "Eliminar", company_employee_path(@company, employee), method: :delete, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody> 
</table>

<div class="pt-2">
	<%= link_to 'Edit', edit_company_path(@company) %> |
	<%= link_to 'Back', companies_path %>	
</div>


